html,body{ color: #666; font-family:"Microsoft YaHei",Arial,sans-serif; line-height: 1; -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; }
address,cite,dfn,em,var { font-style: normal; }
code,kbd,pre,samp { font-family: couriernew, courier, monospace; }
small { font-size: 12px; }
ul,ol { list-style: none; }
a { text-decoration: none; }
a:hover,a:visited,a:link,a:active { text-decoration: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset,img { border: 0; }
button,input,select,textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
input { font-family: "Microsoft YaHei", Arial, sans-serif; }
.clear { clear: both; overflow: hidden; }

html,body { width: 100%; height: 100%; background: #f4f4f4; }

.main_lct_show { width: 100%; height: 100%; margin: 0 auto; position: relative; font-size: .42rem; overflow-y: scroll; }
#main_lct_show .swiper-slide01 { background: #f4f4f4; position: relative; }
.swiper_lct_part { height: 100%; width: 100%; }
.swiper-container { width: 100%; height: 100%; }
#main_lct_show .swiper-slide01 { background: #f4f4f4; position: relative; }
.po_next_lct { position: absolute; width: .21rem; height: .23rem; background: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_jiantou.png); background-repeat: no-repeat; background-size: 100% 100%; bottom: .55rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 3; animation: scale01 1.5s; -webkit-animation: scale01 1.5s; transform-origin: center center; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; margin-left: -.1rem; }

@keyframes scale01 {
    0% { transform: translateY(-.05rem); -webkit-transform: translateY(0rem); }
    50% { transform: translateY(.15rem); -webkit-transform: translateY(.15rem); }
    100% { transform: translateY(-.05rem); -webkit-transform: translateY(-.05rem); }
}

.slideone_1 { overflow: hidden; }
.slideone_1,.warp_img { width: 100%; height: 53.0649%; position: relative; }
.img_logo { width: 4.57rem; height: 4.03rem; margin: 0 auto 0; text-align: center; background: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/homepage_logo_di.png) no-repeat; background-size: 100% 100%; }
.img_logo i{ width: 1.9rem; height: 1.9rem; background: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/homepage_logo.png) no-repeat; background-size: 100% 100%; display: block; margin: 1.1rem auto 0; }
.img_logo h1{ height: 1rem; line-height: 1rem; font-size: .5rem; font-weight: normal; color: #333; margin-top: .2rem; }
.img_logo p{ font-size: .34rem; color: #9f9f9f; letter-spacing: 4px; }
.scalelct { animation: scalelct 1.5s; -webkit-animation: scalelct 1.5s; transform-origin: center center; animation-iteration-count: 1; -webkit-animation-iteration-count: 1; }

@keyframes scalelct {
    0% { transform: scale(0); -webkit-transform: scale(0); }
    100% { transform: scale(1); -webkit-transform: scale(1); }
}

@-webkit-keyframes scalelct {
    0% { transform: scale(0); -webkit-transform: scale(0); }
    100% { transform: scale(1); -webkit-transform: scale(1); }
}

.slideone_2_bg { width: 100%; height: 6.01rem; background: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/homepage_img_bg.png); background-repeat: no-repeat; background-size: 100% 100%; position: absolute; text-align: center; color: #fff; left: 0; bottom: 0; }
.next_lct_show { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }
.text_lct01 { font-size: .46rem; }
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
    0% { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInDownBig {
    0% { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

.text_lct02 { font-size: .3rem; padding-top: .42rem; padding-bottom: .76rem; font-weight: lighter; word-spacing: .08rem; }
.bounceIn { -webkit-animation-name: bounceIn; animation-name: bounceIn; }

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
    20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
    40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
    60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
    80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
    to { opacity: 1; -webkit-transform: scaleX(1); transform: scaleX(1); }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
    20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
    40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
    60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
    80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
    to { opacity: 1; -webkit-transform: scaleX(1); transform: scaleX(1); }
}

.download_lct { display: block; width: 5.6rem; height: .94rem; line-height: .94rem; text-align: center; background: #fff; color: #6724ff; -moz-border-radius: .8rem; -webkit-border-radius: .8rem; border-radius: .8rem; font-size: .34rem; margin: 30px auto 0; }
.bounceInUp { -webkit-animation-name: bounceInUp; animation-name: bounceInUp; }

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% { opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
    75% { -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
    90% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
    to { -webkit-transform: translateZ(0); transform: translateZ(0); }
}

@keyframes bounceInUp {
    0%, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% { opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
    75% { -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
    90% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
    to { -webkit-transform: translateZ(0); transform: translateZ(0); }
}

.po_next_lct { position: absolute; width: .21rem; height: .23rem; background: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_jiantou.png); background-repeat: no-repeat; background-size: 100% 100%; bottom: .68rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 3; animation: scale01 1.5s; -webkit-animation: scale01 1.5s; transform-origin: center center; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }
.text_lct_21 { font-size: .62rem; padding-top: .55rem; }
.text_lct_22 { font-weight: lighter; padding-bottom: .36rem; padding-top: .2rem; }
.download_lct2 { display: block; width: 5.6rem; height: .94rem; text-align: center; line-height: .94rem; background: #3c78ff; color: #fff; font-size: .34rem; -moz-border-radius: .8rem; -webkit-border-radius: .8rem; border-radius: .8rem; position: absolute; bottom: 1.3rem; left: 50%; margin-left: -2.8rem; }

.swiper-slide02 { color: #fff; text-align: center; background-color: #ffd4d9; background-image: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_bg_1.png); background-repeat: no-repeat; background-position: center 0; background-size: auto 100%; }
.swiper-slide03 { color: #fff; text-align: center; background-color: #ffd7a3; background-image: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_bg_2.png); background-repeat: no-repeat; background-position: center 0; background-size: auto 100%; }
.swiper-slide04 { color: #fff; text-align: center; background-color: #c2aeff; background-image: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_bg_3.png); background-repeat: no-repeat; background-position: center 0; background-size: auto 100%; }
.swiper-slide05 { color: #fff; text-align: center; background-color: #96b6ff; background-image: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_bg_4.png); background-repeat: no-repeat; background-position: center 0; background-size: auto 100%; }
.swiper-slide06 { color: #fff; text-align: center; background-color: #98cbff; background-image: url(https://fastly.jsdelivr.net/gh/mibanapp/web/huohua/img/page_bg_5.png); background-repeat: no-repeat; background-position: center 0; background-size: auto 100%; }
